<!DOCTYPE html>
<html>
    <head>
        <title>DAVINCI GAME</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="hard.css">
    </head>

    <body>

        <a href= "______" class="button-left">Main menu</a>
        <h1>DAVINCI GAME</h1>

        <hr>

        <img src="6-design.png" alt="design" height="350" width="480">

        <div class="input-box">
            <input type="fullword" placeholder="text here">
            <button class="button-hint">Hint</button>
            <form>
                <INPUT TYPE="button" class="button-submit" VALUE="SUBMIT" onClick="parent.location='medium-level1.html'">
            </form>
        </div>
    </body>
</html>