<!DOCTYPE html>
<html>
  <head>
    <title>DAVINCI GAME</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="easy.css">
  </head>

  <body>
    <a href= "____________"  class="button-left">Main menu</a>
    <h1>DAVINCI GAME</h1>

    <hr>

    <img src="1rainbow.png" alt="rainbow" height="270" width="410" id="img">
    <div class="input-box">
      <!-- <span><input type="fullword" placeholder="text here"></span> -->
      {{question.answer}}
      {{question_length}}
      <form style="display: inline-block">
        {% for i in n %}
          <input type="text" id="inputs" maxlength="1" size="3" />
        {% endfor %}
      </form>
      <script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
      <p id="correct"></p>
      <span><button class="button-hint">Hint</button></span>
    </div>
    <div>
      <form>
          <INPUT TYPE="button" class="button-submit" onclick="myFunction()" VALUE="SUBMIT" /*onClick="parent.location='medium-level1.html'"*/>
      </form>
    </div>

    <script>
    function myFunction() { 
      document.getElementById("correct").innerHTML = "You are correct!";
      document.getElementById("correct").style.textAlign = "center";
      document.getElementById("correct").style.color = "Brown";
      document.getElementById("correct").style.fontFamily = "Arial Rounded MT";
      document.getElementById("correct").style.fontSize = "larger";
    
    $(document).ready(function(){
    $( "input" ).keypress(function(){
    if ($(this).val.length == 1){
      $(this).next().focus()
    }else{
      $(this).blur()
    }
})
})
    }
    </script>
  </body>
</html>

<!-- <img src='{{question.image.url}}' id="img"> -->
<!-- {{question.answer}}
{{question_length}}
<form style="display: inline-block">
{% for i in n %}
<input type="text" id="inputs" maxlength="1" size="3" />
{% endfor %}
</form>
<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
<script>

$(document).ready(function(){
    $( "input" ).keypress(function(){
    if ($(this).val.length == 1){
        $(this).next().focus()
    }else{
        $(this).blur()
    }
})
})

</script> -->