<!DOCTYPE html>
{% load static %}
<html> 
  <head>
    <title>DAVINCI GAME - EASY LEVEL</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/easy.css' %}">
    <link rel="stylesheet" type="text/css" href='{% static "/css/menu-style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "/css/question-style.css" %}'>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/question-js/active.js"></script>
  </head>

  <body>
    <a href= "{% url 'game:index' %}" class="button-left">Main menu</a>
    <h1>EASY LEVEL {{question.id}}</h1>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-window-close"></i></a>
          {% if user.name == 'guest' %}
              <img class="provider_pic" src="../profile_image/user.png">
              <a class="sidetext">Welcome, Guest</a>
              <a class="sidetext">Score {{user.all_score}} points</a>
              <div class="log">
                  <div class="l_btn"><a id='logout-bth' class="log_btn" href="{% url 'logout' %}"><span>Login?</span></a></div>
              </div>
          {% else %}
              <img class="provider_pic" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
              <a class="sidetext">Welcome, {% if user.name == None %} {{user.socialaccount_set.all.0.extra_data.given_name}} {{user.socialaccount_set.all.0.extra_data.first_name}} {% else %} {{user.name}} {% endif %}
              <button id="edit-name" class="change-name">
              <i class="fa fa-pencil-square" onclick="editName()"></i>
              </button>
              </a>
              <a class="sidetext" id="change-name" style="display: none;">
                  <form method="POST"> {% csrf_token %}
                      {{ form.as_p }}
                  </form>
              </a>
              <a class="sidetext">Score {{user.all_score}} points</a>
              <div class="log">
                  <div class="l_btn"><a id='logout-bth' class="log_btn" href="{% url 'logout' %}"><span>Logout</span></a></div>
              </div>
          {% endif %}
    </div>
    <span id="opennav" class="side_bar" onclick="openNav()"><i class="fa fa-chevron-circle-left"></i></span>
      <div class="turntoright">
        <span style="padding-right: 20px; font-size: 25px; font-family: Arial, Helvetica, sans-serif;">Score: </span>
        <span id="num" class="score-box">{{user.all_score}}</span>
      </div>
      <br>
      <img src="{{question.image.url}}" id='img' alt="easypic" height="320" width="450">
      {% if question.id == 14 %}
        <p>The answer has 2 spaces.</p>
      {% endif %}
      <div class="input-box">
      <form method="POST">
      {% csrf_token %}
        <span><input type="text" name="textfield" id="input" maxlength="{{ans_length}}" placeholder="{{ans_length}} letters" size="12" autofocus /></span>
        {% if is_pass %}
        <p><i class="fa fa-check"></i>  You got it!!</p>
        <p>The answer is "{{question.answer}}".</p>
        {% elif is_pass == False%}
        <p><i class="fa fa-close"></i>  Try again</p>
        {% else %}
        <p></p>
        {% endif %}
        <input type="submit" name="button" id="sub_btn" class="button-submit" value="Submit"/>
      </form>

      <br>
      <form method="POST">
        {% csrf_token %}
          <span><input type="submit" class="button-hint" name="hint-btn" value="Hint"/></button></span>
          <input type="hidden" id="keygive_list" style="visibility: hidden;" value="{{hint_list}}"/>
          <p id="hintKey" class="hintword" style="margin-left: 190px; " ></p>
        </form>
      </div>
      {% if user.current_easy > question.id %}
      {% if question.id < last_question.id  %}
          <span><button class="button-next"><a href="{% url 'game:e-picture' next_question.id %}">Next</a></button></span>
      {% else %}
          <span><button class="button-next"><a href="{% url 'game:easy' %}">Next</a></button></span>
      {% endif %}
      {% endif %}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../static/js/question-js/active.js"></script>
</html>

<script>

  function myFunction() { 
    document.getElementById("correct").innerHTML = "You are correct!";
    document.getElementById("correct").style.textAlign = "center";
    document.getElementById("correct").style.color = "Brown";
    document.getElementById("correct").style.fontFamily = "Arial Rounded MT";
    document.getElementById("correct").style.fontSize = "larger";
    }
  
    var hintlist = '{{hint_list}}'
    var sumhl= ''
    var i = 0
    $(document).ready(function(){
      $(".button-hint").click(function(){
        sumhl += hintlist[i]
        console.log(sumhl)
        i+=1
        $("#hintKey").innerHTML = sumhl;

      })
    })


  function nexttoPage() {
    document.getElementById("forsubmit").style.visibility = 'hidden';
    submit_btn.style.display="none";
    document.getElementById("next").style.visibility = 'visible';
    next_btn.display="block";
  }

</script>