{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<img src='{{question.image.url}}' id="img">
<link rel="stylesheet" type="text/css" href='{% static "/css/eq-style.css" %}'>

{{question.answer}}
{{ans_length}}
<form>
    <input type="text" id="input" onkeypress='handle(e)' maxlength='{{ans_length}}' placeholder='{{ans_length}} letters' size='15' autofocus>
</form>
<button onclick='submit()'>Submit</button>
<button onclick="hint()">Hint</button>
<button><a href="{% url 'game:e-picture' next_question.id%}">Next</a></button>
<script src="https://code.jquery.com/jquery-3.4.1.js" ></script>

<script>
var ans = ''
ans = document.getElementById('input');


function submit() {
    if (ans.value == '{{question.answer}}') {
        alert('True')
    }
    else {
        alert('False')
        ans.value = ''
    }
}
function handle(e){
    if(e.keyCode === 13){
        if (ans.value == '{{question.answer}}') {
            alert('True')
        }
        else {
            alert('False')
            ans.value = ''
        }
    }
}
function hint() {
    var ranChar = '';
    var characters = '{{question.answer}}'
    var charactersLength = characters.length;
    ranChar = characters.charAt(Math.floor(Math.random() * charactersLength));
    alert(ranChar)
    }
</script>