<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>DAVINCI GAME - HARD LEVEL</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hard.css' %}">
    </head>

    <body>
        <a href= "../main-menu.html" class="button-left">Main menu</a>
        <h1>DAVINCI GAME</h1>

        <hr>

        <div class="turntoright">
            <span style="padding-right: 20px; font-size: 25px; font-family: Arial, Helvetica, sans-serif;">Score: </span>
            <span id="num" class="score-box">{{user.all_score}}</span>
        </div>
        <br>
        <img src="{{question.image.url}}" id='img' alt="hardpic" height="320" width="450">
        <div class="input-box">
            <span><input type="fullword" placeholder="text here"></span>
            <p id="correct"></p>
            <form method="GET">
            {% csrf_token %}
              <span><button class="button-hint" onclick="hintonClick()">Hint</button></span>
            </form>
        </div>
        <form>
            <INPUT TYPE="button" id="forsubmit" class="button-submit" onclick="myFunction(), nexttoPage()" VALUE="SUBMIT">
            {% if question.id < 15 %}
                <a href="{% url 'game:h-picture' question_id.id %}" class="button-next" style="vertical-align:middle; visibility:hidden" id="next"><span>Next</span></a>
            {% else %}
                <a href="{% url 'game:index' %}" class="button-next" style="vertical-align:middle; visibility:hidden" id="next"><span>Next</span></a>
            {% endif %}
        </form>
    </body>
</html>

<script>

    function myFunction() { 
      document.getElementById("correct").innerHTML = "You are correct!";
      document.getElementById("correct").style.textAlign = "center";
      document.getElementById("correct").style.color = "Brown";
      document.getElementById("correct").style.fontFamily = "Arial Rounded MT";
      document.getElementById("correct").style.fontSize = "larger";
      }
  
    var scoreText = document.getElementById("num")
    var score = Number(scoreText.innerText)
    var submit_btn = document.getElementById("forsubmit")
    var next_btn = document.getElementById("next")
    
    function hintonClick(){
      if (score >= 2) {
        score -= 2;
        scoreText.innerText =  String(score)
      }
    }
  
    function nexttoPage() {
      document.getElementById("forsubmit").style.visibility = 'hidden';
      submit_btn.style.display="none";
      document.getElementById("next").style.visibility = 'visible';
      next_btn.display="block";
    }
  
  </script>