{% load socialaccount %}
{% providers_media_js %}
{% load static %}

{% for question in all_question %}
<button><a href="{% url 'game:h-picture' question.id%}">H {{question.id}}</a></button>
{% endfor %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HARD</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{% static "/css/stage-style.css" %}'>

</head>

<body class="body-stage-hard">
    <div class="stage">
        <div class="container">
            <div class="block-1">
                <h1>HARD</h1>
            </div>
        </div>
    </div>

    <div class="level">
        <div class="container">
            <div class="button-sub-level">
                <button type="button">1</button>
                <button type="button">2</button>
                <button type="button">3</button>
                <button type="button">4</button>
                <button type="button">5</button><br>
                <button type="button">6</button>
                <button type="button">7</button>
                <button type="button">8</button>
                <button type="button">9</button>
                <button type="button">10</button><br>
                <button type="button">11</button>
                <button type="button">12</button>
                <button type="button">13</button>
                <button type="button">14</button>
                <button type="button">15</button>
            </div>
        </div>
    </div>

    <div class="box-3">
        <div class="container">
            <div class="btn btn-three">
                <span> <i class="fa fa-home"></i>  MAIN MENU</span>
            </div>
        </div>
    </div>

    <!-- <div class="back-to-mainmemu">
        <div class="container">
            <div class="button-back-mainmenu">
                <i class="fas fa-cloud"></i>
                <button type="button">MAIN MENU</button>
            </div>
        </div>
    </div> -->

</body>
</html>