{% load socialaccount %}
{% providers_media_js %}
{% load static %}

<link rel="stylesheet" type="text/css" href='{% static "/css/style.css" %}'>
<head>
    <title>Login Page</title>
</head>

<body>
    {% if user.is_authenticated %}
    <p>User: {{user.name}}</p>
    <p>Email: {{user}}</p>
    <form method="POST"> {% csrf_token %}
        {{form.as_p}}
    </form>
    {% else %}
    <p>User: Guest</p>
    {% endif %}
    {% if user.is_authenticated %}
    <h1 style="text-align: center;">ON GAME PAGE</h1>
    <a href="{% url 'game:hard' %}">to stage</a>
    <button id="logout-bth"><a href="{% url 'logout' %}">logout</a></button>
    {% else %}
    <button id='btn-guest'>Guest</button>
    <button><a href='{% provider_login_url "google" %}'><img src="{% static "/img/google icon.png" %}" alt="google-login"></a></button>
    <button><a href="{% provider_login_url "facebook" method="js_sdk" %}" ><img src="{% static "/img/facebook icon.png" %}" alt="facebook-login"></a></button>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
    $('#btn-guest').click(function(){
        console.log("{{user}}")
    })
    </script>
</body>