{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scoreboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href='{% static "/css/menu-style.css" %}'> -->
    <link rel="stylesheet" type="text/css" href='{% static "/css/scoreboard-style.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Orbitron:800&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="tracking-in-expand ">SCOREBOARD</h1>
        <div class="container">
                <table>
                    <thead>
                            <th>Picture</th>
                            <th>Email</th>
                            <th>Score</th>
                    </thead>
                    <tbody>
                        {% for user in score_order %}
                        <tr>
                            {% if user.id in socialaccount_id_list %}
                                <td ><img class="provider_pic" style='width: 100px; height: 100px;'src="{{user.socialaccount_set.all.0.get_avatar_url}}"></td>
                            {% else %}
                                <td ><img style='width: 100px; height: 100px;' src="{{user.profile_image}}"></td>
                            {% endif %}
                            <td>{{ user.name }}</td>
                            <td>{{ user.all_score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    <div class="container-mainmenu">
        <div class="text">
            <!-- <a class="primary_btn">Play</a> -->
            <a href="{% url 'game:index' %}" class="primary_btn">Main Menu</a>
        </div>
    </div>    
</body>
</html>