<!DOCTYPE html>
<html>
    <head>
        <title>DAVINCI GAME</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="medium.css">
    </head>

    <body>
        <a href= "https://www.facebook.com/" class="button-left">Main Menu</a>
        <a href= "https://www.youtube.com/" class="button-right">Next</a>
        <h1>DAVINCI GAME</h1>

        <hr>

        <img src="https://inwfile.com/s-ga/wobc0s.jpg" class="img1" alt="Straw" height="250" width="250">
        <img src="https://assets3.thrillist.com/v1/image/2828005/size/tmg-article_default_mobile.jpg" class="img2" alt="Book" height="250" width="300">
        <div class="input-box">
        <h2>Your answer is </h2><input type="fullword" placeholder="text here">
        <p><input type="submit" value="Submit" text-align></p>
        </div>
    </body>
</html>