body {
    background-image: url("picture-medium.jpg");
}
h1 {
    color: darkblue;
    font-family: 'castellar';
    font-size: 40px;
    text-align: center;
}

h2 {
    color: indigo;
    text-align: center;
    display: inline;
}

.button-left {
    background-color: #82E0AA; /* Green */
    border: none;
    border-radius: 12px;
    color: #154360;
    padding: 20px 40px;
    text-align: center;
    font-family: Georgia;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin-left: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    cursor: pointer;
    width: 6rem;
}

.button-left:hover {
    background-color: honeydew;
    border: 2px solid #82E0AA;
    color: #154360;
}
  
.button-right {
    background-color: LIGHTSALMON;
    border: none;
    border-radius: 12px;
    color: #8A4B08;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
    cursor: pointer;
    width: 6rem;
}

.button-right:hover {
    background-color: honeydew;
    border: 2px solid LIGHTSALMON;
    color: #8A4B08;
}

img.img1 {
    margin-top: 40px;
    margin-left: 320px;
    display: inline;
}
  
img.img2 {
    margin-top: 40px;
    margin-left: 100px;
}
  
h1 {
    color: darkblue;
    text-align: center;
}

.input-box {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    display: block;
}

.input-box input[type="fullword"]
{
    font-size: 1rem;
    height: 40px;
    width: 200px;
}