input[type=text] {
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.1em;
}
::placeholder {
    text-transform: none;
}
input[type=text]:focus {
    border: 3px solid #555;
}