a {
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    a:hover, a:focus {
      text-decoration: none;
      outline: none; }
      
.body-stage-easy{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("/static/introduction-img/background-easy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    margin: 50px;
}

.body-stage-medium{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("/static/introduction-img/background-medium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.body-stage-hard{
    margin: 0;
    padding: 0;
    font-family: 'Luckiest Guy', cursive;
    background-image: url("/static/introduction-img/background-hard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-1 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-2 {
    position: relative;
    margin-top: 70px;
    text-align: center;
    margin-left: 580px;
    margin-right: auto;
    display: block;
}

.stage{
    width: 100%;
    height: fit-content;
    background: (0, 0, 0);
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 10px;
    margin-top: 100px;
}

.stage-m{
    width: 100%;
    height: fit-content;
    background: (0, 0, 0);
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 10px;
}

.level{
    width: 100%;
    height:fit-content;
    background: (0, 0, 0);
    font-size: 20px;
    margin-top: 30px;
}

.level-medium{
    width: 100%;
    height:fit-content;
    background: (0, 0, 0);
    font-size: 20px;
    margin-top: 40px;
}

.button-sub-level button {
    width: 100px;
    height: 100px;
    font-size: 30px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin: 10px;
    padding: 35px;
    background-image: url("/game/static/introduction-img/log-stage.jpg");
    background-color: #ffffff; color: black;
    border-radius: 50%; color: black;
    

}

.back-to-mainmemu button{
    width: auto;
    height:auto;
    background: (0, 0, 0);
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    padding: 30px;
    background-color: #ffffff; color: black;
    border-radius: 30px;
    color: #BD8937;
    margin-top: 50px;

}


.btn {
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-m {
    font-size: 25px;
    margin-top: -30px; 
    font-family: 'Luckiest Guy', cursive;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
}


/* 

  
  #wrap {
    padding-top: 20px;
  }
  
  button {
    margin-right: 20px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 50px;
    background: white;
    transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
  }
  
  button:hover {
    border-color: black;
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  
  button.green:hover {
    color: white;
    background: black;
  }
   */